html, body {
    background-color: #fafaf5;
    font-family: "Panton", Helvetica, serif;
    letter-spacing: .5px;
    margin: 0;
}

@font-face {
    font-family: "Panton Black";
    src: url("/fonts/Panton-Black.ttf");
}

@font-face {
    font-family: "Panton";
    src: url("/fonts/Panton-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Panton";
    src: url("/fonts/Panton-Regular.ttf");
}

.limitWidth {
    max-width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
}
